html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Ruda', sans-serif;
    background-color: rgb(233, 233, 233);
    display: grid;
    grid-template-rows: 1fr auto;

}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 233, 233);
}

.header {
    display: grid;
    color: royalblue;
    font-weight: 800;
    font-size: 50px;
}

.paragraph {
    font-size: 20px;
}

#form-header {
    display: grid;
    align-content: center;
    background-color: rgb(233, 233, 233);
    width: 500px;
}

#login-form {
    display: grid;
    background-color: white;
    border-radius: 5px;
    width: 400px;
    border: 1px shadow black;
    gap: 1rem;
    padding: 1rem;

  }

.form-input {
    border-radius: 5px;
    width: 363px;
    border: 1px shadow black;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
}

#login-button {
    margin: auto; 
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    width: 364px;
    height: 46px;
}

#forgot-password {
    margin: auto;
}

.button-style {
    width: 196px;
    height: 46px;
    margin: auto;
    border-radius: 5px;
    background-color: rgb(59, 155, 56);
    color: white;
}

#branding {
    text-align: center;
    

}
  
footer {
      background-color: white;
      padding-top: 20px;
      padding-bottom: 50px;
      
  }